.footer{
	z-index: 600;
}

.chatroom{
	z-index: 500;
}

.errors{
	z-index: 400;
}

.login-form-wrapper{
	z-index: 300;
}

.home-hero, .game-header, .game-prompt{
	z-index: 200;
}

.home-section, .player-hand{
	z-index: 100;
}