<template name="about">
	<div class="about-page">
		<section class="hero">
			
		</section>

		<section class="hero-content">
			<div class="wrapper">
				<section class="content-section intro-section">
					<h1 class="white t-a-center uppercase">This is a game.</h1>

					<h1 class="white t-a-center uppercase">A game of gifs.</h1>

					<p class="t-a-center">It was built by <a href='http://ramsaylanier.com'>Ramsay Lanier</a> using <a href="http://meteor.com">Meteor.js</a> and <a href="http://giphy.com">Giphy</a>.</p>
				</section>

				<section class="content-section">
					<h3 class="content-heading">Whats The Point?</h3>

					<p>First, drop the attitude. It's a silly game. I didn't write all this code for you to come in here with your melodrama and your baggage and your stupid hair cut.</p>

					<h3 class="content-heading">Sorry! I meant, What Is the Object Of This Amazing Game?</h3>

					<p>That's better. The object of the game is select an animated reaction gif in response to a given prompt. Players take turns being the Czar (or judge). The Czar will select the the three best responses, and points will be awards accordingly. After all the gifs in the deck have been played, you want to be the person with the most points.</p>

					<p>The person with the most points gets a better haircut. Seriously. Yours is dumb.</p>
				</section>

				<section class="content-section">
					<h2 class="white t-a-center uppercase">Here is how it works.</h2>

					<h3 class="content-heading">Creating A Game</h3>
					<p>After logging in, click the create a game button. Name your game. Hit enter. If you needed instructions for this, you will probably do poorly. You should probably turn around and go play with a used tire or some such.</p>

					<h3 class="content-heading">Starting A Game</h3>
					<p>You will need at least 4 players total before you can start the game. The person creating the game with automatically become the Czar. Once you have at least 4 players, a "start button" will appear. Click it. This starts the game.</p>

					<img class="screencap" src="/screencap1.gif" alt="Animated gif showing how to start a game."/>

					<p>Again, this is pretty simple. If you find this challenging, might I suggest something less mentally taxing, like watching The Bachelor.</p>

					<h3 class="content-heading">Game Play - As Player</h3>
					<p>When the game starts, you are dealt 10 reaction gifs at random. Read the prompt. Search deep within yourself for the funniest reaction gif. If you aren't funny, ask a friend. If you don't have friends, guess. Select your response by clicking directly on one of the ten gifs in you hand. Don't click the gif next to it. Or below it. That's stupid!</p>

					<p class="strong">Remember: You have 30 seconds to make a selection.</p>

					<img class="screencap" src="/screencap3-1.gif" alt="Animated gif showing the player making a selection."/>

					<p>After all the players have made a selection, or after the 30 second timer runs out (whichever happens first), all the selections are made visible. The Czar will judge each gif scrupulously because this is a very serious game and lives depend on it. After making his or her selection, each player will be dealt a new gif to replace the one they selected and a new rounds begins with a new Czar.</p>


					<h3 class="content-heading">Game Play - As Czar</h3>
					<p>Being the Czar mean you get to judge all the other players. Not like, "That Sally is so basic. She can't even right now." No, you don't need my permission for that. What I mean is that you will select your favorite reaction gifs in order of 1st, 2nd, and 3rd place. You can use your discretion. You never need a good reason for awarding 1st to that gif of a baby hitting a grown man in the balls.</p>

					<p>Here is what that looks like (the judging part, not the nut shot.)</p>

					<img class="screencap" src="/screencap2.gif" alt="Animated gif showing the Czar selecting gifs."/>

					<h3 class="content-heading">Scoring</h3>
					<p>Each gif is currently worth one point. In future releases, some gifs will be worth more than others based on a variety of deeply pondered characteristic (read: probably at random). The point value of the gif is multiplied by which place it was selected - 1st place is 3x, 2nd place is 2x, and 3rd is 1x. For example, if your gif is worth 1 point and the Czar awarded it 1st place, you would win 3 points. Math! You don't have to worry about this complex algorith, as I have already taken care of it for you.</p>

					<h3 class="content-heading">Ending A Game</h3>
					<p>There are three ways a game could end. 1st, the person who created the game manually ends it because they'd rather do something more productive with their lives, like macaroni art. 2nd, each game has a deck of 100 gifs. When all gifs have been played the game ends. 3rd, the apocolypse (hey, I'm doomsday concious).</p>

					<p>As noted above, the person with the most points gets a new haircut. You deserve it!</p>


				</section>

				<section class="content-section">
				<h1 class="white t-a-center uppercase">Questions</h1>

				<p>If you have questions, comments, ideas, or bug reports, you can <a href="http://twitter.com/verybadhello">tweet me</a>, <a href="mailto:ramsay@nclud.com">email me</a>, or <a href="http://www.fuckoff.com/">fuck off.</a></p>
				</section>
			</div>
		</section>
	</div>
</template>