<template name="newGameForm">
	<form name="new-game-form" class="new-game-form collapsed">
		<div class="wrapper">
			<div class="form-control inline">
				<input type="text" name="game-name-field" class="game-name-field field dark-field" placeholder="Name Your Game"/>
			</div>

			<div class="form-control inline">
				<label>Make game public?</label>
				<input type="checkbox" name="is-public-game" value="public" class="is-public-field checkbox-field field">
			</div>

			<input type="submit" value="Create Game" class="btn create-game-btn">
		</div>
	</form>
</template>